@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: linear-gradient(40deg,black,gray,white);
    height: 100vh;
}
#container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: url("p404.png"),black;
    box-shadow: #111111;
}
#container .msg
{
  max-width: 600px;
    text-align: center;

}
#container .msg h2
{
    text-align: left;
    padding-right: 2em;
    font-size: 18vw;
    color: #fefefe;
    line-height: 1em;
}
#container .msg h4
{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fefefe;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}
#container .msg .msg-ico
{
    width: max-content;
    margin-bottom: 6rem;
    font-size: 5rem;
    color: red;
    padding-left: 3em;
}
#container .msg p
{
    font-size: 1.2em;
    color: #fefefe;
}